@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --text: #f9f0f5;
    --background: #0b0408;
    --primary: #59c08e;
    --secondary: #080f16;
    --accent: #41aa77;
}

/* Main page */

h1 {
    font-family: 'Space Mono', monospace;
    color: var(--text);
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    color: var(--text);
}

h3 {
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    color: var(--text);
}

p {
    font-family: 'Space Mono', monospace;
    color: var(--text);
}

body {
    background-color: var(--background);
}

.pageDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Title */
.title {
    background-color: var(--secondary);
    width: 60%;
    padding: 3%;
    margin: 1%;
    margin-top: calc(5% + 50px);
    border-radius: 30px;
}

/* Sections */
.sectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    background-color: var(--secondary);
    padding: 1%;
    border-radius: 30px;
    transition: 0.5s;
    margin: 40px;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 3%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.02);
    background-color: var(--accent);
}

.leftImg {
    margin: 5%;
    margin-right: 10%;
    height: 110%;
    width: 110%;
}

.rightText {
    margin: 3%;
    margin-left: 10%;
}

.leftText {
    margin: 3%;
    margin-right: 10%;
}

.rightImg {
    margin: 5%;
    margin-left: 10%;
    height: 110%;
    width: 110%;
}

.elementLink {
    text-decoration: none;
    color: var(--text);
    transition: 0.2s;
}

.elementLink:hover {
    color: var(--accent);
    padding: 0 5px;
}

.staticLink {
    text-decoration: none;
    color: var(--text);
    transition: 0.2s;
}

.staticLink:hover {
    color: var(--accent);
}





/* Hacked Text Effect */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hackedText {
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 7vw, 7rem);
    color: var(--text);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    padding: 1%;
    transition: 0.2s;
    z-index: 10;
}

.hackedText:hover {
    background-color: var(--primary);
    color: var(--background);
}






/* Nav Bar */
.laserNav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 20;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: var(--secondary);
    border-radius: 10px;
    transition: 0.5s;
}

.navBar:hover {
    background-color: var(--accent);
    scale: 1.01;
}

.linkNav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: var(--background);
    border-radius: 10px;
    transition: 0.2s;
}

.linkNav:hover {
    background-color: var(--primary);
}

.clickableLink {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}






/* Header */

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 30px;
}

.sectionHeader:hover {
    background-color: var(--accent);
}

.headerSection {
    border-radius: 30px;
    padding-left: 10%;
    padding-right: 10%;
    transition: 0.2s;
}

.headerSection:hover {
    background-color: var(--primary);
}